{% extends "shop.html" %}
{% block title %}
    {% if store %}{{ store.name }}{% else %}Products{% endif %}
{% endblock %}
{% load static %}
{% block content %}
    <div class="items_shop" >
        <div class="sidebar">
            <h3>Stores</h3>
            <ul >
                <li {% if not store %}class="selected"{% endif %}>
                    <a href="{% url "product_list" %}">All</a>
                </li>
                {% for c in stores %}
                    <li {% if store.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="product-list">
            <h3>{% if store %}{{ store.name }}{% else %}All Products{% endif %}</h3>
                {% for product in products %}
                    <div class="item">
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                        ${{ product.price }}
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}